@page {
    size: letter;
    margin: 1.5875cm;
}

table {
    break-inside: avoid;
}

#title {
    margin-top: -0.5em;
}

#title+p img {
    top: 0;
}

#title+p img:last-of-type {
    left: initial;
    right: 5pt;
}