/*-------------*\
 * Core Styling
\*-------------*/

html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    color: #444;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 10.5pt;
    line-height: 1.618033;
    padding: 0;
}

/*-------------*\
 * Text
\*-------------*/



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Crimson Text', Times, 'Times New Roman', serif;
    opacity: 0.875;
}

h1 {
    font-size: 21.29pt;
}

h2 {
    font-size: 18.92pt;
}

h3 {
    font-size: 16.82pt;
}

h4 {
    font-size: 14.95pt;
}

h5 {
    font-size: 13.29pt;
}

h6 {
    font-size: 11.81pt;
}

p {
    margin: 0.5em 0 0.5em 0;
}

ul {
    margin: 0 0 0.5em 0;
}

ul li {
    margin-left: -1.25em;
}

pre,
code,
kbd,
samp {
    color: #000;
    font-family: monospace, monospace;
    _font-family: 'courier new', monospace;
    font-size: 0.98em;
}

/*-------------*\
 * Headings
\*-------------*/

#title {
    margin-top: 0;
    margin-bottom: -0.3em;
    font-size: 38.15pt;
    line-height: 1.618033;
    letter-spacing: 0.01em;
    text-align: center;
}

#subtitle {
    margin-top: 0;
    font-size: 18.14pt;
    letter-spacing: 0.01em;
    line-height: 1.5;
    border-bottom: 1.25pt solid grey;
    margin-bottom: 0.075em;
    opacity: 0.875;
    text-align: center;
}

#objective {
    margin-top: 0.075em;
}

h2,
h3 {
    margin-bottom: 0;
}

h2 {
    margin-top: 0.333em;
    border-top: 1pt solid grey;
    border-bottom: 1pt solid grey;
    line-height: 1.333;
}

h3 {
    margin-top: 0.333em;
}

h3.exp-heading {
    margin-bottom: -0.175em;
    line-height: 1.25;
}

/* This needs to be after all the heading rules */
h2+* {
    margin-top: 0.3em
}

/*-------------*\
 * Tables
\*-------------*/

table tr td {
    vertical-align: top;
}

.exp-heading+table tr td,
#subtitle+table tr td {
    line-height: 1.4;
    vertical-align: baseline;
}

.exp-heading+table {
    width: 100%;
}

.exp-heading+table tr td:first-of-type {
    width: 30%;
}

#subtitle+table {
    width: 100%;
}

#subtitle+table tr td a {
    color: #444;
    letter-spacing: 0.033em;
    text-decoration: none;
}

#subtitle+table tr td img {
    display: inline-block;
    height: 1.25em;
    margin-bottom: -0.25em;
}

/* #subtitle+table tr td:first-of-type {
    background-color: #cfc;
} */

#skills-quals+table {
    margin-top: 0.125em;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

#skills-quals+table td {
    padding-left: 1rem;
    width: 33%;
}

#skills-quals+table tr td:first-of-type {
    padding-left: 0;
}

/*-------------*\
 * Lists
\*-------------*/

.exp-heading~ul li {
    line-height: 1.5;
    letter-spacing: 0.005em;
}